<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Update</title>
</head>
<body>
    <h1><center>Hey It's <%= day %>, it's time to <%= advice %>.</center></h1>
</body>
</html>